name: dispatch target file updated
on:
    push:
        branches:
            - main
        paths-ignore:
            - "README*"

jobs:
    dispatch-target-updated:
        strategy:
            matrix:
                repo: ["gsi-cyberjapan/3dpc-3dtiles"]
        name: dispatch-target-updated
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
              with:
                  fetch-depth: 2

            - name: Get changed files
              id: changed-files
              uses: tj-actions/changed-files@v44
              with:
                  files_ignore: |
                      README*
                      **/*.md
                      .github/workflows/dispatch-target-upload.yml
                  quotepath: "false"
                  json: "true"

            - name: List changed files
              if: steps.changed-files.outputs.any_changed == 'true'
              run: |
                  echo "Changed files (JSON):"
                  echo "${{ steps.changed-files.outputs.all_changed_files }}"
            - name: Build client payload (JSON)
              id: build-payload
              if: steps.changed-files.outputs.any_changed == 'true'
              run: |
                changed_files='${{ steps.changed-files.outputs.all_changed_files }}'
                json_payload=$(jq -n --arg cf "$changed_files" '{changed_files: ($cf | fromjson)}')
                echo "json=$json_payload" >> $GITHUB_OUTPUT

            - name: dispatch target-updated
              if: steps.changed-files.outputs.any_changed == 'true'
              uses: peter-evans/repository-dispatch@v1
              with:
                  token: ${{ secrets.AUTOMERGE_GITHUB_TOKEN }}
                  repository: ${{ matrix.repo }}
                  event-type: target-updated
                  client-payload: ${{ steps.build-payload.outputs.json }}
